

/* shared style */
.display-flex{
    display: flex;
}

/* dark-1 */
.text-gray {
    color: rgba(19, 19, 19, 1);
}

/* dark-2 */
.text-lite-color {
    color: rgba(66, 66, 66, 1);
}

/* dark-3 */
.text-lite-gray {
    color: rgba(114, 114, 114, 1);
}
/* button */
.btn-primary{
    background-color: rgba(255, 144, 14, 1) ;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 20px 21px;
    margin-bottom: 50px;
    cursor: pointer;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
footer {
    max-width: 1440px;
    margin: 0 auto;
}




/* navbar style */
.navbar , .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    justify-content: space-between;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-link {
    gap: 50px;
}
.nav-item{
     list-style: none;
}
.nav-links{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.02rem;
}




/* banner style */
.banner-contain{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    }
.banner{
    
    
}
.title{
    font-size: 4rem;
    font-weight: bold;
}
.title-description{
    font-weight: 400;
    font-size: 1rem;
}


/* features-team style */
.features-team{
    margin-top: 100px;
    align-items: center;
    max-width: 1200px;
}
.team {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}


/* our-feature */
.our-feature{
    margin-left: 75px;
}

.list{
    font-weight: 500;
    font-size: 2.8rem;
}
.our{
    font-weight: bold;
    font-size: 2.8rem;
}
.Features-text{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: bold;
}
.Features-description{
    font-size: 0.9rem;
}



/* Features you will enjoy */
.Features-enjoy{
    display: flex;
    margin-top: 130px;
    gap: 140px;
}

.Features-banner-title{
    font-weight: bold;
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.Features-banner-description{
    font-size: 0.8rem;
}

.Features-item{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.09);
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.Features-item-title{
    font-size: 1.25rem;
    font-weight: 600;
}
.Features-item-description{
    font-weight: 0.8rem;
}
.experience-label{
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 45px 42px;
    text-align: center;
    margin-left: -100px;
    margin-top: -100px;
}
.experience-year{
    font-size: 3rem;
    font-weight:bold ;
    margin: 0;

}
.Experience {
    font-size: 1.5rem;
    font-weight: 600;
}


/* Some Facts */
.facts-section {
    margin-top: 130px;
}
.facts-title {
    font-size: 2.8rem;
    font-weight: bold;
}
.facts-description {
    font-size: 0.8rem;
}
.facts-container {
    display: flex;
    gap: 100px;
    justify-content: center;
}
.facts-card {
    border: 2px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    width: 140px;
    height: 120px;
    justify-content: center;
    text-align: center;
   padding: 45px 35px;
}
.facts-number {
    font-weight: bold;
    font-size: 2.8rem;
    margin: 0;
}
.facts-name {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
}

/* Our Sponsors */
.sponsors {
    margin-top: 180px;
    text-align: center;
}
.sponsors-title {
    font-weight: bold;
    font-size: 2.8rem;
}
.sponsors-description {
    font-size: 0.8rem;
}
.sponsors-image{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    filter: grayscale(100%);
}




/* responsive */
@media screen and (max-width:576px) {
    .navbar ,
     .nav-link , 
     .features-team,
     .Features-enjoy ,
     .facts-container,
     .sponsors-image {
        flex-direction: column;
    }
    .nav-link{
        gap: 30px;
    }

    .banner-img ,
    .architect-image {
        width: 100%;
    }
    .title-description{
        padding: 10px;
    }

    .team{
        grid-template-columns: 1fr;
    }
    .experience-label{
        margin-left: 70px;
        margin-top: 30px;
    }
    .facts-container{
        gap: 10px;
        align-items: center;
    }
    .sponsors-image{
        gap: 60px;
        width: 100%;
        /* padding: 20px; */
    }
}